* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.half {
  display: flex;
  justify-content: space-around;
}
.box1 {
  border: 1px solid gray;
  padding: 40px;
  box-shadow: 3px 13px 19px white;
  border-radius: 19px;
  margin: 33px auto;
}

.box1:hover {
  border: 1px solid gray;
  padding: 40px;
  box-shadow: 3px 13px 19px rgb(100, 77, 77);
  background-color: rgb(158, 151, 151);
  color: black;
}
.div {
  background-color: aquamarine;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.divin {
  display: flex;
  padding: 13px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}
